Your API key for TMDB (The Movie Database)
TMDB_API_KEY=b8a5a81cf854b76576c258900723fdde

# The base URL for your Next.js application
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_ENCRYPTION_KEY='run this command in your terminal (openssl rand -base64 32)'

# Firebase Configuration
apiKey='AIzaSyB82olS5H0uvhy7AuqjK_JZ70KQUTpkX0g'
authDomain="ronak-1a7f2.firebaseapp.com"
projectId="ronak-1a7f2"
storageBucket="ronak-1a7f2.firebasestorage.app"
messagingSenderId="131809606992"
appId="1:131809606992:web:5e478a74c11265cc2f4055"
measurementId="G-BXGJTPGG42”
